.call-form button {
    font-family: "Overpass", sans-serif;
    color: #ffffff;
    background: #0053c9;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 0 solid transparent;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,
        background-color .15s ease-in-out,
        border-color .15s ease-in-out,
        box-shadow .15s ease-in-out;
    cursor: pointer;
}
@media screen and (max-width: 576px) {
    .call-form.row button span{
        display: none
    }
    .call-form.row button svg{
        display: inline;
    }
}
@media screen and (min-width: 576px) {
    .call-form.row button svg{
        display: none;
    }
}
@media screen and (max-width: 1279px) {
    .call-form.row button{
        width: 50%;
    }
    .call-form.row form{
        width: 50%;
    }
    .call-form.row input {
        width: 100%;
    }

}

.call-form.row {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    gap: 2em;
}


.call-form button:not(:disabled):not(.disabled) {
    text-align: center;
    cursor: pointer;
}


.call-form button:hover {
    color: #ffffff;
    background: #000000;
}

.call-form input {
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.1);
    font-family: "Overpass Light", sans-serif;
    font-size: 1rem;
    border: 0;
    border-radius: 5px;
    padding: 0.5rem 0 0.5rem 1rem;
    line-height: 1.5;
}
.call-form.col input {
    width:100%;
}
.call-form.col {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;

}

.call-form form {
    display: flex;
    flex-flow: column wrap;
    gap: 1.5rem;
    align-items: center;

}
.call-form form label {
    width: 100%;
}
@media screen and (min-width: 1280px) {
    #call-services {
        margin-right: 1em;
    }
}
.call-form.row form label, input {
    height: 100%;
}