/* First breakpoint */
@media screen and (min-width: 450px) {
  .container {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }
  .blue-stripes {
    visibility: hidden;
  }
  .header-blue-stripes {
    visibility: hidden;
  }
  .header-item.middle {
    visibility: hidden;
  }
}

/* Second breakpoint */
@media screen and (min-width: 550px) {
  .container {
    width: 550px;
    margin-right: auto;
    margin-left: auto;
  }
  .blue-stripes {
    visibility: hidden;
  }
  .header-blue-stripes {
    visibility: hidden;
  }
  .header-item.middle {
    visibility: hidden;
  }
}

/* 3 breakpoint */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin-right: auto;
    margin-left: auto;
  }
  .blue-stripes {
    visibility: hidden;
  }
  .header-blue-stripes {
    visibility: hidden;
  }
  .header-item.middle {
    visibility: hidden;
  }
}

/* 4 breakpoint */
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    margin-right: auto;
    margin-left: auto;
  }
  .blue-stripes {
    visibility: visible;
  }
  .header-blue-stripes {
    visibility: visible;
  }
  .header-item.middle {
    visibility: visible;
  }
}